label {
    display: inline-block;
    margin: 5px 0 0;
}

.row {
    display: block;
    margin: 10px;
}

.left {
    margin-right: 40px;
}

.right{
    margin-top: 15px;
}

.box  {
    width: 300px;
}

.input-field {
    width: 280px;
}

/*Desktop*/
@media only screen and (min-width: 768px){
    
    .row {
        display: flex;
        margin: 18px 0 0;
    }

    .right {
        margin: 0;
    }

    .box {
        width: 720px;
    }

    .input-field {
        width: 340px;
    }

    button {
        width: 100%;
    }

   
}




